# Enable aliases to be sudo’ed
alias sudo='sudo '

# Alias ~ to the vagrant home directory.
alias ~="cd /vagrant"

# ARTISAN
alias artisan="php artisan"
alias seed="php artisan db:seed"
alias rollback="artisan migrate:rollback"
alias migrate="artisan migrate"
alias refresh="artisan migrate:refresh --seed"
alias migrate:make="artisan migrate:make"
alias tinker="artisan tinker"

# Way/Generators
alias generate:controller="artisan generate:controller"
alias generate:form="artisan generate:form"
alias generate:migration="artisan generate:migration"
alias generate:model="artisan generate:model"
alias generate:pivot="artisan generate:pivot"
alias generate:resource="artisan generate:resource"
alias generate:scaffold="artisan generate:scaffold"
alias generate:seed="artisan generate:seed"
alias generate:test="artisan generate:test"
alias generate:view="artisan generate:view"

#GIT
alias gs="git status"
alias gaa="git add ."
alias ga="git add"
alias gc="git commit -m "
alias gl="git log"
alias glo="git log --oneline"
alias gp="git push"
alias gcl='git clone'

#PHPUnit
alias t="phpunit"

# IP address
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# list dotfiles
alias lsdot="ls -a | egrep '^\.'"
alias lsdotd="ls -d .*/ | egrep '^\.'"
